<div
  class="w-full mx-auto max-w-screen-xl flex gap-5 flex-col items-center justify-center my-40"
>
  <div
    class="border border-dashed w-full h-96 flex items-center justify-center"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    (click)="onBrowseClick()"
    [class.bg-slate-600]="isDragging"
  >
    Drag Drop Passport <br />
    OR <br />
    Click to Browse Passport
    <input
      type="file"
      #fileInput
      style="display: none"
      (change)="onFileSelected($event)"
      accept=".pdf,.jpg,.jpeg,.png"
    />
  </div>

  <img *ngIf="imageUrl" [src]="imageUrl" alt="Passport Image" class="h-full" />
</div>
