<main
  class="bg-slate-900 dark:bg-white min-h-screen text-white dark:text-black"
>
  <!-- Navbar component -->
  <app-navbar
    [firstPartTitle]="firstPartTitle"
    [secondPartTitle]="secondPartTitle"
    (urlChanged)="onChangeUrl($event)"
  ></app-navbar>

  <!-- Main content container -->
  <div class="container mx-auto px-4 py-8">
    <ng-container *ngIf="data == null">
      <h1 class="text-4xl font-bold text-center mb-4 dark:text-black">
        Passport Data Extractor
      </h1>
      <p class="text-lg text-center mb-8 dark:text-gray-700">
        Upload your passport image to extract and view detailed information. The
        process is simple and secure.
      </p>
    </ng-container>

    <!-- Conditional rendering based on data and imageUrl -->
    <ng-container *ngIf="data == null || imageUrl === ''; else elseBlock">
      <!-- Drag and drop passport upload component -->
      <app-drag-drop-passport
        [url]="uploadUrl"
        (uploadResponse)="handleUploadResponse($event)"
        (imageUrlChange)="handleImageUrlChange($event)"
      ></app-drag-drop-passport>
    </ng-container>

    <!-- Content to display when data and imageUrl are available -->
    <ng-template #elseBlock>
      <div class="w-full">
        <button
          class="self-start btn btn-primary capitalize mx-3 text-white dark:text-black"
          (click)="setDataToNull()"
        >
          Go Back
        </button>
      </div>
      <app-person-data-plotter
        [data]="data"
        [imageUrl]="imageUrl"
        class="mt-8"
      ></app-person-data-plotter>
    </ng-template>
  </div>

  <ng-container *ngIf="uploadHistoryData">
    <div class="mb-10 container mx-auto">
      <h1 class="text-4xl font-bold dark:text-black mb-2">- Image History</h1>
      <div class="space-y-8">
        <div
          *ngFor="let key of getKeys(uploadHistoryData)"
          class="border p-4 rounded shadow-md"
        >
          <h2 class="text-2xl font-semibold">{{ key }}</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div
              *ngFor="let item of uploadHistoryData[key]"
              class="border p-2 rounded shadow-sm"
            >
              <img
                [src]="'http://' + item"
                alt="Uploaded Image"
                class="w-full h-auto object-cover"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <app-footer></app-footer>
</main>

<router-outlet />
