<main class="bg-slate-800 min-h-screen text-white">
  <!-- navbar -->
  <app-navbar
    [firstPartTitle]="firstPartTitle"
    [secondPartTitle]="secondPartTitle"
  ></app-navbar>

  <ng-container *ngIf="data == null || imageUrl === ''; else elseBlock">
    <app-drag-drop-passport
      [url]="uploadUrl"
      (uploadResponse)="handleUploadResponse($event)"
      (imageUrlChange)="handleImageUrlChange($event)"
    ></app-drag-drop-passport>
  </ng-container>

  <ng-template #elseBlock>
    <div class="max-w-screen-xl mx-auto mt-10">
      <button
        class="btn btn-primary capitalize mx-3 text-white"
        (click)="setDataToNull()"
      >
        go back
      </button>
    </div>
    <app-person-data-plotter
      [data]="data"
      [imageUrl]="imageUrl"
    ></app-person-data-plotter>
  </ng-template>
</main>

<router-outlet />
